<ul class="myposts-index"> <!-- ore no CODO -->
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
	    {% if forloop.first %}
<h3 id="{{ this_year }}-ref" style="font-style:italic">{{this_year}}</h2>
	    {% endif %}
<ul class="alter-padding" style="padding-left: 0px; margin-left: 0px;"> <!-- ore no CODO -->
<span class="old-postDate">{{ post.date | date: "%b %d ー" }}</span> <!-- ore no CODO -->
<a class="post-article" href="{{ post.url }}">{{ post.title }}</a>
		{% if forloop.last %}
</ul>
    	{% else %}
        	{% if this_year != next_year %}
</ul>
<h3 id="{{ next_year }}-ref" style="font-style:italic">{{next_year}}</h2>
        	{% endif %}
    	{% endif %}
{% endfor %}



{% comment %}
<!--_The old one-->

<ul class="myposts-blog">
{% for post in site.posts %}
    <ul>
    <span class="old-postDate">{{ post.date | date: "%b %d %Y  ー" }}</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
    </ul>
{% endfor %}
</ul>
{% endcomment%}