<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<link href='/assets/footer.css' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<footer id="footer">
		<div class="footer-left">
			Copyright &copy; 2018 TK
		</div>

		<div class="footer-right">
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="writing.html">Writing</a></li>
					<li><a href="https://github.com/leandrotk" target="_blank">Projects</a></li>
					<li><a href="quotes.html">Quotes</a></li>
				</ul>
			</nav>
		</div>
		</footer>

	</body>
</html>
