<div class="navigation-wrapper" style="text-align:center; margin-top: 45px;">
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://github.com/deomorxsy/" title="~/.ðÐ on GitHub" target="_blank">
                  <i class="svg-icon github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            

            
              <!-- StackOverflow -->
              <li class="navigation__item">
                <a href="https://stackoverflow.com/users/7681246/deomorxsy" title="~/.ðÐ on stackoverflow" target="_blank">
                  <i class="svg-icon stackoverflow"></i>
                  <span class="label">StackOverflow</span>
                </a>
              </li>
              


              <!-- Codewars -->
              <li class="navigation__item">
                <a href="https://www.codewars.com/users/deomorxsy" title="~/.ðÐ on CodeWars" target="_blank">
                  <i class="svg-icon codewars"></i>
                  <span class="label">StackOverflow</span>
                </a>
              </li>

              <!-- URIOnlineJudge
              <li class="navigation__item">
                <a href="https://www.urionlinejudge.com.br/judge/en/users/statistics/269363" title="~/.ðÐ on URIOnlineJudge" target="_blank">
                  <i class="svg-icon urionlinejudge"></i>
                  <span class="label">StackOverflow</span>
                </a>
              </li>
              -->
            
              <!-- Email 
              <li class="navigation__item">
                <a href="mailto:veaceslav.gaidarji@gmail.com" title="Email veaceslav.gaidarji@gmail.com" target="_blank">
                  <i class="svg-icon email"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            -->

            
              <!-- LinkedIn
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/veacesla~/.ðÐ" title="veacesla~/.ðÐ on LinkedIn" target="_blank">
                  <i class="svg-icon linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            -->

            
              <!-- Twitter 
              <li class="navigation__item">
                <a href="http://twitter.com/v_gaidarji" title="@v_gaidarji on Twitter" target="_blank">
                  <i class="svg-icon twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            -->

            
              <!-- Facebook 
              <li class="navigation__item">
                <a href="https://www.facebook.com/100001320317153" title="~/.ðÐ on Facebook" target="_blank">
                  <i class="svg-icon facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            -->

            <!-- RSS
            <li class="navigation__item">
              <a href="/feed.xml" title="Subscribe" target="_blank">
                <i class="svg-icon rss"></i>
                <span class="label">RSS</span>
              </a>
            </li>
            -->

            </ul>
          </nav>

        </div>
