<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!--NOTE: add "checked" at the end of the input to show the bar whenever you acess or refresh the page.-->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  {% include search.html %} <!-- NOTE: inclui search.html para realizar pesquisas -->
  
  <nav class="sidebar-nav">
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{site.baseurl}}/">Index</a>
    <a class="sidebar-nav-item" href="{{site.baseurl}}/blog">Blog</a>
    <a class="sidebar-nav-item" href="{{site.baseurl}}/about">About</a>
    <a class="sidebar-nav-item" href="{{site.baseurl}}/quotes">Quotes</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p style="margin-bottom: 0px; position: center;">
      &copy; {{ site.time | date: '%Y' }}. 
      <a class="footer-a" href="https://github.com/deomorxsy" style="font-style:oblique;"> <b>~/.ðÐ</b> </a>
      <p style="margin-top: 1px;">All rights reserved.<p>
    </p>
  </div>
</div>

{% include footer.html %}

<label for="sidebar-checkbox" class="sidebar-toggle"></label> <!--NOTE: IMPORTANT! this is the icon decoy for the sidebar. -->