<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

		<link href='/assets/indexpage.css' rel='stylesheet' type='text/css'>
		<link href="/assets/highlighter.css" rel="stylesheet">
		<!--link href='/assets/osrs-font/os-font.css' rel='stylesheet' type='text/css'-->
		<link rel="shortcut icon" type="image/png" href="/assets/images/index.png">

		<title>{{ page.title }} | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/osrs-font/os-font.css" />


	</head>

	<style>
		a {
			color: #c9cacc;
		}

		.content {
			max-width: 890px; /*580*/
			margin-left: auto;
			margin-right: auto;
		}

	</style>

	<body>
		<header>
				<nav class="menu">
				<a href="{{site.baseurl}}/" class="menu-item -home -active">Index</a>
				<a href="{{site.baseurl}}/blog/" class="menu-item">Blog</a>
                <a href="{{site.baseurl}}/tags/" class="menu-item">Tags</a>
				<a href="{{site.baseurl}}/about/" class="menu-item">About</a>
                <a href="{{site.baseurl}}/rss.xml" class="menu-item">Subscribe</a>
				</nav>
		</header>

		<header class="header">
			<a>
			<time class="article-date" datetime="{{post.date | date: "%b-%-d-%Y"}}">
			{{ page.date | date: "%B %d, %Y "}}
			<p>
                <i class="fa fa-clock-o" aria-hidden=true>  </i> {% include posts_read-time.html %} read

			</p>
            {%- include tags.html -%}
            </div>
			</time>
			</a>
			<h3 class="article-title">{{page.title}}</h3>
		</header>

		<div class="content">
		{{ content }}
		</div>
        {% include utterances.html %}

		{% include footer.html %}

		<script type="text/javascript" src="/assets/osrs-font/os-font.js"></script>
        <script type="text/javascript">
            OsFont.compile();
        </script>


	</body>
</html>
