<!DOCTYPE html>
<html data-theme="dark">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

		<link href="/assets/indexpage.css" rel="stylesheet" type="text/css">
		<link href="/assets/highlighter.css" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" type="text/css" href="/assets/osrs-font/os-font.css" /> -->
        <!-- <link rel="shortcut icon" type="image/png" href="/images/index.png"> -->

		<link href="/assets/sidebar.css" rel="stylesheet" type="text/css">
        <link href="/assets/search.css" rel="stylesheet" type="text/css">
		<title>{{ page.title }} | {{ site.title }}</title>
	</head>



	<body>
		<div class="content">
		{{ content }}
		</div>
		<!--<button class="theme-toggle">Toggle Dark Mode</button>-->
		<!-- <input id="night-mode" class="lamp" type="checkbox" aria-label="night-mode" /> -->


        {% include search.html %}
        {% include footer.html %}


	</body>
</html>
