<!DOCTYPE html>
<html data-theme="dark">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

		<link href="/assets/indexpage.css" rel="stylesheet" type="text/css">
		<link href="/assets/highlighter.css" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" type="text/css" href="/assets/osrs-font/os-font.css" /> -->
        <!-- <link rel="shortcut icon" type="image/png" href="/images/index.png"> -->

		<link href="/assets/sidebar.css" rel="stylesheet" type="text/css">
        <link href="/assets/search.css" rel="stylesheet" type="text/css">
		<title>{{ page.title }} | {{ site.title }}</title>
	</head>



	<body>

        <header>
            <nav class="menu">
            <a href="{{site.baseurl}}/" class="menu-item -home -active">Index</a>
            <a href="{{site.baseurl}}/blog/" class="menu-item">Blog</a>
            <a href="{{site.baseurl}}/tags/" class="menu-item">Tags</a>
            <a href="{{site.baseurl}}/about/" class="menu-item">About</a>
            <a href="{{site.baseurl}}/rss.xml" class="menu-item">Subscribe</a>
            </nav>
		</header>

		<div class="content">
		{{ content }}
		</div>
		<!--<button class="theme-toggle">Toggle Dark Mode</button>-->
		<!-- <input id="night-mode" class="lamp" type="checkbox" aria-label="night-mode" /> -->


        {% include search.html %}
        {% include footer.html %}


	</body>
</html>
