html {
	font-size: 15px; /* px significa 'pixels': o tamanho da fonte base é agora de 10 pixels */
	font-family: 'Menlo', monospace; /*este deve ser o nome da fonte que você obteve no Google Fonts*/
	background-color: #111;
	color: white;
}


body {
	width: 950px;
	margin: 0 auto;
	background-color: #111; /*#00a86b */
	padding: 0 20px 20px 20px;
	border: 5px solid #00a86b;
}



/* test 
body {
  color: #c9cacc;
  background-color: #1b1b1b;
  font-size: 15px;
  font-family: "Menlo", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  width: 940px;
  margin: 0 auto;
  /*padding: 0 20px 20px 20px;
} */

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: white; /*anterior: #00539F*/
	text-shadow: 3px 3px 1px black;*/
}

h5 {
	font-size: 20px;
	text-align: center;
}

p {
	font-size: 14px;
	line-height: 2;
	letter-spacing: 1px;
	width: 700px;
	padding-left: 120px;
}

li {
	font-size: 14px;
	line-height: 2;
	letter-spacing: 1px;
	margin-left: 60px;
	margin-right: 0px;
}

img {
	display: block;
	margin: 0 auto;
}

ul {
	text-align: left;
	padding-left: 90px;
}

h2 {
	text-align: left;
	padding-left: 40px;
}

/*========= Mobile view test =========*/

/*@media (max-width: 550px) {
	
	/* adicionar aqui os novos estilos para mobile /
	.container {
		width: 96%;
	}
}