html {
	font-size: 15px; /* 15px significa 'pixels': o tamanho da fonte base é agora de 10 pixels */ 
	font-family: 'Menlo', 'Meslo LG', monospace; /* este deve ser o nome da fonte que você obteve no Google Fonts */
	background-color: #1b1b1b; /*#111*/
	color: #c9cacc;
	box-sizing: border-box;
	cursor: default;
	border: 7px solid #00a86b; /*#e6e6e6;*/
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    min-height: 100vh;
}

body {
	font-size: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0 20px;
	line-height: 1.725;
	font-family: Arial,Helvetica,sans-serif; /*'Menlo', monospace;*/
	text-align: justify;
	background-color: #1b1b1b;/*#111*/
}

h1 {
	font-size: 2.5em;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 1px black;
	margin-bottom: 0em;
	margin-top: 1.20em;

}

h2 {
	font-size: 1.6em;
}

p {
	font-size: 15px;
	letter-spacing: 1px;
	font-family: Arial,Helvetica,sans-serif;
}

a {
	font-size: 15px;
	line-height: 1.5;
}

ol li a{
	font-family: 'Runescape Chat Font Regular'; /*'Menlo', monospace; */
	font-size: 20px;
	display: block;
	margin-bottom: -5px;
	/*border-left: 1px solid;*/
	padding-left: 0px;
	letter-spacing: 0px;
}

.reference {
	font-family: 'Runescape Chat Font Regular';
	font-size: 20px;
	text-align: left;
	padding: 0;
	margin: 3px;
	color: #666666;
}

.postDate {
	padding: 0px 10px 0px 0px;
}

img {
	max-width: 100%;
	margin: center;
	display: block;
	margin: 0 auto;
}

.quotes blockquote p {
	font-size: 12px;
	padding-left: 15px;
	margin-bottom: 30px;

	display: block;
	line-height: 26px;
}
.quotes blockquote strong {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
	line-height: 26px;
	border-left: 1px solid;
	padding-left: 15px;
}

.menu{
	font-family: 'Menlo', 'Meslo LG', monospace; /*Arial, Helvetica, sans-serif;*/
	text-align: center;
	margin-bottom: -2em;
	padding: 40px;
}
.menu-item {
	border-bottom:0;
	color:#FAFAFA;
	padding:2px 0;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

.menu-item.-home {
	font-weight:700
	}
.menu-item.-active {
	color:#FAFAFA;
	border-bottom:2px solid #FAFAFA;
}
.menu-item:active,.menu-item:hover {
	background:0 0;
	color:#ff0000;
	outline:0;
}
.menu-item:focus {
	color:#00a86b;
	background:#FAFAFA; /*#ff0000; red*/
}


summary {
	display:list-item
}
summary {
	-ms-touch-action:manipulation;
	touch-action:manipulation
}

.summary {
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	font-style:italic;
	color:#c9cacc;
	margin-bottom:0em;
	margin-top: 1.5em;
	line-height:1.70;
	text-align:center;
	font-size: 16px;
}
.summary p {
	margin-top: .5em

}
.summary-index {
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	font-style:italic;
	color:#c9cacc;
	margin-bottom:0em;
	margin-top: 1.5em;
	line-height:1.70;
	text-align:left;
	font-size: 16px;
}

hr { /*<hr class="-center">*/
	box-sizing: content-box;
	overflow: visible;
	border: 1;
	margin-top: 25px;
	margin-bottom: 45px;
	width: 90px;
}
.-footnotes { /*<hr class="-footnotes">*/
    /*box-sizing: content-box;
    overflow: visible;
    border: 1;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 90px*/

	background-color: purple;
	width: 120%;
	height: 12px;
	border-top: 1px solid black

	margin-top: -5px;
}
.mydivbars {
	font-size: 15px;
	letter-spacing: -5px;
}

.article-date {
	font-family: 'Menlo', 'Meslo LG', monospace;
	vertical-align:middle;
	display:block;
	font-size:12px;
	text-transform:uppercase;
	color:#777;
	letter-spacing:2.5px;
	white-space:nowrap;
	line-height:1.5
	margin-bottom: 0em;
	margin-top: 3em;
}
.article-date p {
font-family: 'Menlo', 'Meslo LG', monospace;
vertical-align:middle;
display:block;
font-size:12px;
text-transform:uppercase;
color:#777;
letter-spacing:2.5px;
white-space:nowrap;
line-height:1.5
margin-bottom: 0em;
margin-top: 0em;
}
.article-title {
	margin-bottom: 1.20em;
	margin-top: 0em;
}
header{display:block}

.header{
	text-align:center
}

pre {
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 13px;
  padding: 10px 15px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  overflow-x: auto;
}

.fa, fa-clock-o { /* Readtime icon. The comma is important.*/
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width:800px) {
	.article .header {
		width:800px;
		margin-left:-120px;
		margin-right:-
	}
}

@media screen and (max-width: 50em) {
	body {
		background: #ff0000;
	}

	h1 {
		font-size: 100%;
	}

	img {
		max-width: 100%;
		margin: center;
		border: 7px solid white;
		border-radius: 20px;
	}

	p {
		line-height: 1.600;
	}
}

@media screen and (max-width: 40em) {
	h2 {
		font-size: 100%;
	}

	img {
		max-width:100%;
	}

@media screen and (max-width: 30em) {
	h1 {
		font-size: 100%;
	}
}

@media screen and (min-width: 40.5em) {
	.product-img {
		width: 50%;
		float: left;
	}
}