html {
	font-size: 15px; /* 15px significa 'pixels': o tamanho da fonte base é agora de 10 pixels */ 
	font-family: 'Menlo', 'Meslo LG', monospace; /* este deve ser o nome da fonte que você obteve no Google Fonts */
	background-color: #1b1b1b; /*#111*/
	color: #c9cacc;
	box-sizing: border-box;
	cursor: default;
	border: 7px solid #00a86b; /*#e6e6e6;*/
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    min-height: 100vh;
}

body {
	font-size: 100%;
	margin: 0 auto;
	margin-bottom: 42px;
	/*padding: 0 20px;*/
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.725;
	font-family: Arial,Helvetica,sans-serif; /*'Menlo', monospace;*/
	text-align: left;
	background-color: #1b1b1b;/*#111*/
}

h1 {
	font-size: 2.5em;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 1px black;
	margin-bottom: 0em;
	margin-top: 1.20em;

}

h2 {
	font-size: 1.6em;
}

p {
	font-size: 15px;
	letter-spacing: 1px;
	font-family: Arial,Helvetica,sans-serif;
}

a {
	font-size: 15px;
	line-height: 1.5;
}

.post-article { /*a inside the ul from blog posts.*/
	/*dssc-config*/
	box-shadow:none;
	font-size:16px;
	line-height:1.25;
	color:#c9cacc; /**/
	letter-spacing:0;
	font-family:Istok Web,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,sans-serif;
	text-transform:none;
	font-weight:400;
	text-decoration: none; /*!IMPORTANT! NOTE: retira o sublinhado do link.*/

	/*display:block;
	font-size:100%;
	color:#c9cacc;
	letter-spacing:2.5px;
	white-space:nowrap;
	line-height:1.5;
	padding-top:2px;*/
}

.post-article:hover, .post-article:focus { /*Colore a parte de trás do texto*/
	background-color: #c44;
}

.post-date {
	/*dssc-config */
	vertical-align:middle;
	display:block;
	font-size:12px;
	text-transform:uppercase;
	color:#777;
	letter-spacing:2.5px;
	white-space:nowrap;
	line-height:1.5;
	padding: 4px 0 18px 19px;
	border: 15px;
}

.myposts-index {/*ul posts*/
	padding-left: 0px;
	margin-left: 18px;
}

.yellow-circle {
	color: #00a86b;/*yellow-tonality #efd516;*/
	font-family:Vollkorn;
	font-size: 20px;
}


.blog-entries {
	padding-left: 250px;
}

ol li {
	font-family: 'Runescape Chat Font Regular'; /*'Menlo', monospace; */
	font-size: 15px;
	display: block;
	margin-bottom: -5px;
	/*border-left: 1px solid;*/
	padding-left: 0px;
	letter-spacing: 0px;
}

.reference {
	font-family: 'Runescape Chat Font Regular';
	font-size: 20px;
	text-align: left;
	padding: 0;
	margin: 3px;
	color: #666666;
}

img {
	max-width: 100%;
	margin: center;
	display: block;
	margin: 0 auto;
}

.avatar {
    margin-top: 0; /*margin-top: 30px;*/
    width: 200px;/*width: 130px;*/
    box-shadow: 35px -35px 0 #00a86b; /*box-shadow: 24px -24px 0 #efd415;*/
    border-radius: 9999px;
}

.quotes blockquote p {
	font-size: 12px;
	padding-left: 15px;
	margin-bottom: 30px;

	display: block;
	line-height: 26px;
}
.quotes blockquote strong {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
	line-height: 26px;
	border-left: 1px solid;
	padding-left: 15px;
}

.menu-nav {
    color: #2bbc8a;
    letter-spacing: 0.01em;
    font-weight: 200;
    font-style: normal;
    font-size: 0.8rem;
    box-sizing: border-box;
	overflow-wrap: break-word;
}

.menu{
	font-family: 'Menlo', 'Meslo LG', monospace; /*Arial, Helvetica, sans-serif;*/
	text-align: center;
	margin-bottom: -2em;
	padding: 40px;
}

.nick-menu {/*testando navbar do h1-header*/
	font-family: 'Menlo', 'Meslo LG', monospace; /*Arial, Helvetica, sans-serif;*/
	text-align: center;
	margin-bottom: 0em;
}
.menu-item {
	border-bottom:0;
	color:#FAFAFA;
	padding:2px 0;
	margin-left: 10px; /*10px*/
	margin-right: 10px; /*10px*/
	display: inline-block;
}

.menu-item.-home {
	font-weight:700
	}
.menu-item.-active {
	color:#FAFAFA;
	border-bottom:2px solid #FAFAFA;
}
.menu-item:active,.menu-item:hover {/*colore a parte de trás do texto*/
	background:0 0;
	background-color: #c44;
	outline:0;
}
.menu-item:focus {
	color:#00a86b;
	background:#FAFAFA; /*#ff0000; red*/
}


summary {
	display:list-item
}
summary {
	-ms-touch-action:manipulation;
	touch-action:manipulation
}

.summary {
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	font-style:italic;
	color:#c9cacc;
	margin-bottom:0em;
	margin-top: 1.5em;
	line-height:1.70;
	text-align:center;
	font-size: 16px;
}
.summary p {
	margin-top: .5em

}
.summary-index { /*basically, the bio.*/
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	font-style:italic;
	color:#c9cacc;
	margin-bottom:0em;
	margin-top: 1.5em;
	line-height:1.70;
	text-align:left;
	font-size: 16px;
	/*border-left: 3px solid; /*NOTE: it creates the sidebar to the bio*/
}

hr {
	box-sizing: content-box;
	overflow: visible;
	margin-top: 45px;
	width: 80%;
	text-align: left;
}
.-center { /*<hr class="-center">*/
	box-sizing: content-box;
	overflow: visible;
	border: 1;
	margin-top: 25px;
	margin-bottom: 45px;
	width: 90px;
}
.-footnotes { /*<hr class="-footnotes">*/
    /*box-sizing: content-box;
    overflow: visible;
    border: 1;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 90px*/

	background-color: purple;
	width: 120%;
	height: 12px;
	border-top: 1px solid black

	margin-top: -5px;
}

.footer-c, .footer-c {
	font-size: 11px;
	margin-top: 70px;
}

.mydivbars {
	font-size: 15px;
	letter-spacing: -5px;
}

.article-date {
	font-family: 'Menlo', 'Meslo LG', monospace;
	vertical-align:middle;
	display:block;
	font-size:12px;
	text-transform:uppercase;
	color:#777;
	letter-spacing:2.5px;
	white-space:nowrap;
	line-height:1.5
	margin-bottom: 0em;
	margin-top: 3em;
}
.article-date p {
font-family: 'Menlo', 'Meslo LG', monospace;
vertical-align:middle;
display:block;
font-size:12px;
text-transform:uppercase;
color:#777;
letter-spacing:2.5px;
white-space:nowrap;
line-height:1.5
margin-bottom: 0em;
margin-top: 0em;
}
.article-title {
	margin-bottom: 1.20em;
	margin-top: 0em;
}
header{display:block}

.header{
	text-align:center
}

pre {
  font-family: "Menlo", "Meslo LG", monospace;
  /*font-size: 13px;
  padding: 10px 15px;
  line-height: 22px
  -webkit-border-radius: 4px;
  overflow-x: auto;*/

	padding: 16px;
	overflow: auto;
	font-size: 90%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;

    margin-bottom: 0;
    word-break: normal;
    word-wrap: normal;
}

.fa, fa-clock-o { /* Readtime icon. The comma is important.*/
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.search-container

/*--------MEDIA QUERIES------------*/

@media (min-width:800px) {
	.article .header {
		width:800px;
		margin-left:-120px;
		margin-right:-
	}
}

@media screen and (max-width: 50em) {
	body {
		background: #ff0000;
	}

	h1 {
		font-size: 133%;
	}

	img {
		max-width: 100%;
		margin: center;
		border: 7px solid white;
		border-radius: 20px;
	}

	p {
		line-height: 1.600;
	}
}

@media screen and (max-width: 40em) {
	h2 {
		font-size: 100%;
	}

	img {
		max-width:100%;
	}

@media screen and (max-width: 30em) {
	h1 {
		font-size: 133%;
	}
}

@media screen and (min-width: 40.5em) {
	.product-img {
		width: 50%;
		float: left;
	}
}