@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #00A86B; /* background color */
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    color: #888;
}

#titlebar {
    height: 20px;
    width: 930px;
    margin: auto;
    margin-top: 20px;
    background: url(img/window.png) right no-repeat #1B1B1B; /* titlebar color */
    color: white;
    padding: 5px;
    font-size: 16px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
}

#wrapper {
    background: white;
    text-align: center;
    width: 900px;
    margin: auto;
    padding: 20px;
    padding-bottom: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
}

iframe {
    display: block;
    margin: 20px auto;
    border: 0;
}

h3 {
    background: url(img/folder.gif) left no-repeat;
    padding-left: 25px;
    font-weight: normal;
    margin: 10px 0;
    font-size: 15px;
}

br {
    clear: both;
}

a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

p.song {
    background:  url(img/note.gif) left no-repeat;
    padding: 5px 5px 0 20px;
    margin: 0 0 5px 20px;
    height: 20px;
}

p.song:hover {
    background: url(img/note.gif) left no-repeat #e5b1e1; 
}

p.song a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #888;
}

#muframe {
    width: 900px;
    position: absolute;
    z-index: 0;
    top: -100px;
}

#play:hover, #pause:hover {
    cursor: pointer;
}

#play {
    display: none;
}

#songartist, #songtitle {
    font-size: 15px;
}

#songlist {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.floatleft {
    float: left;
}